apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  name: {{ .Values.inferenceService.name }}
  annotations:
    openshift.io/display-name: {{ .Values.inferenceService.name }}
    security.opendatahub.io/enable-auth: "true"
    serving.kserve.io/deploymentMode: RawDeployment
  labels:
    networking.kserve.io/visibility: exposed
    opendatahub.io/dashboard: "true"
spec:
  predictor:
    automountServiceAccountToken: false
    maxReplicas: 1
    minReplicas: 1
    model:
      modelFormat:
        name: vLLM
      name: ""
      resources:
        limits:
          cpu: "10"
          memory: 20Gi
          nvidia.com/gpu: "1"
        requests:
          cpu: "6"
          memory: 16Gi
          nvidia.com/gpu: "1"
      runtime: {{ .Values.inferenceService.runtime }}
      storage:
        key: {{ .Values.inferenceService.storageKey }}
        path: {{ .Values.inferenceService.storagePath }}
    tolerations:
      - effect: NoSchedule
        key: nvidia.com/gpu
        operator: Exists
