apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.chroma.claimName }}
  labels:
    app: {{ .Values.chroma.name }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
